<!-- About Us Section -->
<app-sobre-mi />
<section class="hero-section d-flex align-items-center">
  <div class="container text-center bg-opacity py-5">
    <h1 class="display-4 fw-bold">Potenciá tu belleza</h1>
    <p class="lead">Tratamiento estético profesional para tus necesidades</p>
    <a
      href="https://www.instagram.com/dra.emiliahediger/?hl=es"
      target="_blank"
      class="btn btn-primary btn-lg mt-4"
      >Trabajos Realizados</a
    >
  </div>
</section>
<!-- Seccion de tratamientos  -->
<section class="py-5">
  <div class="container text-center" id="servicios">
    <h2 class="display-5 fw-bold mb-4">Tratamientos</h2>
    <app-servicios />
  </div>
</section>
